.menu {
  height: 46px;
  color: #FFFFFF;
  background-color: #05A8AA;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica';
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: #DDFFF7
}

.header {
  align-items: center;
  padding-bottom: 10px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #05A8AA;
  font-family: 'Helvetica';
}

.background {
  background-color: #DDFFF7
}

.display {
  padding: 10px;
  /* background-color: #05A8AA; */
  background-color: #499ba9;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Helvetica';
}

.merchants_list {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-top: 35px;
}

.all_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.link_to_show {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 100;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 25px;
  padding: 12px;
  background-color: #05A8AA;
  font-family: Helvetica;
  color: #FFFFFF;
}

.dashboard {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 25px;
  padding: 12px;
  background-color: #2F323A;
  font-family: Helvetica;
  color: #FFFFFF;
  justify-content: space-around;
}

.dashboard h2{
  display: flex;
  font-size: 24px;
}

.dashboard h3{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.dashboard h4{
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: underline;
}

.dashboard p{
  display: flex;
  flex-grow: .5;
  font-size: 60px;
  justify-content: center;
}

.card h2{
  font-size: 24px;
}

.card h3{
  font-size: 18px;
  text-decoration: underline;
  color: #2F323A;
  font-weight: bold;
}

.card img {
  height: 300px;
  width: 300px;
}


.buttons{
  display: flex;
}

a{
  color: white;
}

a:hover {
  color: #DB5461;
}

a:visited {
  color: #77356F;
}

input[type=submit] {
  display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
}

input[type=submit]:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

a.create_button {
	display: inline-block;
	color: #FFF;
	background-color: #E48681;
  border-color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
}

a.create_button:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}

a.create_button:active {
  background-color: #CCC;
  border-color: rgba(0,0,0,0.9);
}

#header_title {
  font-size: 50px;
}

#merchants {
  padding-left: 10px;
}

.display ul {
  display: flex;
  flex-direction: row;
}

#items {
  padding-left: 10px;
}

#invoices {
  padding-left: 10px;
}

.entry_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 500px;
  height: 300px;
  margin: 50px auto;
  background-color: #05A8AA;
}

.entry_form form {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.entry_form a {
  display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
  font-family: Helvetica;
  text-decoration: none;
}

.entry_form a:hover {
  background-color: #e3e3e3;
  border-color: rgba(0,0,0,0.5);
}

form {
  display: flex;
}

.little_shop {
  display: flex;
  flex-grow: 90;
}
