<body>
<%= erb :'partials/navigation' %>

<h1>Edit an Invoice</h1>
<form action="/invoices/<%= @invoice.id %>" method='POST'>
  <input type='hidden' name="_method" value='PUT' />
  <input type='text' name="invoice[status]" value="<%= @invoice.status %>"/><br/>
  <input type='text' name="invoice[merchant_id]" value="<%= @invoice.merchant_id %>"/><br/>
  <input type='submit', value='Edit'/>
</form>
<br><a href="/invoices">Return to Invoice Index</a>
</body>
