<nav class='menu'>
  <a href ="./" class = "little_shop">LittleShop</p>
  <div class='links'>
    <a id='merchants' href="/merchants">Merchants</a>
    <a id='items' href="/items">Items</a>
    <a id='invoices' href="/invoices">Invoices</a>
  </div>
</nav>
