<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Merchants</title>
  </head>
  <body>

    <nav class='menu'>
      <p>LittleShop</p>
      <ul>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/invoices">Invoices</a></li>
      </ul>
    </nav>

    <h1>Create New Merchant</h1>
    <form action='/merchants' method='POST'>
      <input type='text' name="merchant[name]" placeholder='Enter name'/><br/>
      <input type='submit', value='Create'/>
    </form>
    <br><a href="/merchants">Return to Merchant Index</a>
  </body>
</html>
