<h1>Create New Item</h1>
<form action='/items' method='POST'>
  <input type='text' name="item[title]" placeholder='Enter title'/><br/>
  <input type='text' name="item[description]" placeholder='Enter description'/><br/>
  <input type='float' name="item[price]" placeholder='Enter price'/><br/>
  <input type='text' name="item[image]" value='www.google.com'/><br/>
  <input type='submit', value='Create'/>
</form>
<br><a href="/items">Return to Item Index</a>
