<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Create new item</title>
  </head>
  <body>

    <%= erb :'partials/navigation' %>

    <header class='header'>
      <p id='header_title'>Create New Item</p>
    </header>

    <section class="item_form">
      <section class='entry_form'>
        <form action='/items' method='POST'>
          Merchant:
          <select name="item[merchant_id]" id='merchants'>
            <% @merchants.each do |merchant| %>
              <option value ="<%= merchant.id %>"> <%= merchant.name %></option>
            <% end %>
          </select></br>
          Title:
          <input type='text' name="item[title]" placeholder='Enter title'/><br/>
          Description:
          <input type='text' name="item[description]" placeholder='Enter description'/><br/>
          Price:
          <input type='float' name="item[price]" placeholder='Ex. 10.99'/><br/>
          Image Link:
          <input type='text' name="item[image]" placeholder='Ex. www.google.com'/><br/>
          <input type='submit', value='Create'/>
        </form>
        <form action='/items' method='GET'>
          <input type='submit', value='Cancel'/>
        </form>
      </section>
    </section>
  </body>
</html>
