<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Merchants</title>
  </head>
  <body>

    <nav class='menu'>
      <p>LittleShop</p>
      <ul>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/invoices">Invoices</a></li>
      </ul>
    </nav>

    <a href="/items">Item Index</a>
    <h1><%= @item.title %></h1>
    <h1><%= @item.description %></h1>
    <h1><%= @item.price %></h1>
    <h1><%= @item.image %></h1>
  </body>
</html>
