<% @title="M & A's LittleShop" %>
<header class='header'>
  <h1 id='header_title'>M & A's LittleShop</h1></br>
</header>
<div class="container">
  <img src="https://png.pngtree.com/element_origin_min_pic/16/10/23/4e7fcf390b720cf41f6d29e8ef1dd8d4.jpg" alt="store" style="width:100%;">
  <div class="centered">
  </div>
</div>
