<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <title>Little Shop</title>
  </head>
<body>
  <%= erb :'partials/navigation' %>
  <header class='header'>
    <h1 id='header_title'>M & A's LittleShop</h1></br>
  </header>
<div class="container">
 <img src="https://png.pngtree.com/element_origin_min_pic/16/10/23/4e7fcf390b720cf41f6d29e8ef1dd8d4.jpg" alt="store" style="width:100%;">
 <div class="centered">
 </div>
</div>
